<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Template: Finish</title>
	</head>

	<body>
		<!-- ###TEMPLATE### begin-->
		<div>
			<h2>Congratulations,</h2>
			<p>TYPO3 has been successfully installed on your system!</p>
			<p></p>
			<p>An administrator account has been created:</p>
			<dl>
				<dt>Username</dt>
				<dd>admin</dd>
				<dt>Password</dt>
				<dd>password</dd>
			</dl>
			<form method="post" action="../">
				<fieldset style="border: 0;">
					<input type="submit" value="Go to the TYPO3 backend" />
				</fieldset>
			</form>
		</div>
		<!-- ###TEMPLATE### end-->
	</body>
</html>