<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Template: Finish</title>
	</head>

	<body>
		<div>
			<h2>Choose a package</h2>
			<!-- ###TEMPLATE### begin-->
			<p>Please select the package you want to install for your TYPO3 System.</p>
			<form action="index.php?TYPO3_INSTALL[type]=database&mode=123&step=5" method="post">
				<fieldset class="t3-install-form-label-after">
					<input id="systemToInstallDemo" type="radio" name="systemToInstall" value="demo" checked="checked" />
					<label for="systemToInstallDemo"><strong>Demo System (recommended)</strong><br />
					This will install a TYPO3 system including a demo website with all basic configuration, content elements and a few extensions.</label><br />
					<input id="systemToInstallEmpty" type="radio" name="systemToInstall" value="blank" />
					<label for="systemToInstallEmpty"><strong>Blank System</strong><br />
					This will install a bare TYPO3 system with basic database and folder structure.</label>
				</fieldset>
				<fieldset>
					<input type="hidden" name="TYPO3_INSTALL[database_type]" value="import|CURRENT_TABLES+STATIC" />
					<input type="hidden" name="TYPO3_INSTALL[database_import_all]" value="1" />
					<button>Continue<span class="t3-install-form-button-icon-positive">&nbsp;</span></button>
				</fieldset>
			</form>
			<!-- ###TEMPLATE### end-->
		</div>
	</body>
</html>